/* pages/note/index.wxss */
.c-search {
  position: relative;
  display: flex;
  align-items: center;

  .c-search__ipt {
    width: 702rpx;
    height: 60rpx;
    padding-left: 30rpx;
    border-radius: 30rpx;
    box-sizing: border-box;
    background: var(--white);
    font-size: 22rpx;
    color: var(--base);
  }

  .c-search__ipt::-webkit-input-placeholder {
    color: var(--base);
  }

  .c-search__ipt::-moz-placeholder {
    color: var(--base);
  }

  .c-search__ipt:-ms-input-placeholder {
    color: var(--base);
  }

  .c-search__ipt::-webkit-input-placeholder {
    color: var(--base);
  }

  .c-search__ipt::placeholder {
    color: var(--base);
  }

  .c-search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30rpx;
    width: 32rpx;
    height: 32rpx;
  }
}

.c-notes {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10rpx;
  margin: 20rpx 0rpx;
  box-sizing: border-box;
  width: 702rpx;
  height: 100%;
  overflow: hidden scroll;

  &__item {
    height: 160rpx;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: 'icon title time'
      'icon content content';
      background: var(--white);

    .u-icon {
      grid-area: icon;
      place-self: center;
      width: 100rpx;
      height: 100rpx;
    }

    .u-title {
      grid-area: title;
      align-self: center;
      font-size: 32rpx;
      color: #ffa502;
    }

    .u-text {
      grid-area: content;
      align-self: flex-start;
      font-size: 24rpx;
      color: #a4b0be;

    }

    .u-time {
      grid-area: time;
      align-self: center;
      justify-self: flex-end;
      padding-right: 30rpx;
      box-sizing: border-box;
      font-size: 28rpx;
      color: #2980b9;
    }
  }
}

.c-addBtn {
  position: fixed;
  right: 50rpx;
  bottom: 150rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100rpx;
  height: 100rpx;
  background: var(--white);
  border-radius: 50%;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);

  &_icon {
    width: 300rpx;
    height: 300rpx;
  }
}