/* components/custom-modal/index.wxss */
.c-cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.c-modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  left: calc(50vw - 594rpx / 2);
  top: calc(50vh - var(--height) * 1rpx / 2);
  width: 594rpx;
  min-height: 221rpx;
  box-sizing: border-box;
  background:var(--bg-color-white);
  border-radius: 16rpx;
  padding-top: 32rpx;
  z-index: 3;
  box-shadow: 0rpx 10rpx 15rpx -3rpx rgba(0,0,0,0.1);
  &__caption {
    margin-bottom: 22rpx;
  }

  &__content {
    margin-bottom: 120rpx;
    width: 506rpx;
    max-height: 160rpx;
    overflow: scroll;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 28rpx;
    color: #171717;
    line-height: 40rpx;
  }

  &__customContent{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20rpx;
    width: 506rpx;
    margin-bottom: 80rpx;
  }

  &__btn {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 594rpx;
    height: 80rpx;

    .u-btn {
      width: 50%;
      height: 80rpx;
      text-align: center;
      font-size: 28rpx;
      line-height: 80rpx;
    }

    .u-confirm {
      background: var(--btn-bg-green);
      color: var(--btn-text-color);
      border-bottom-left-radius: 16rpx;
    }

    .u-cancel {
      background: var(--btn-bg-orange);
      color: var(--btn-text-color);
      border-bottom-right-radius: 16rpx;
    }
    .u-btn:only-child{
      width: 100%;
      border-radius: 0 0 16rpx 16rpx;
    }
  }
}