/**index.scss**/
.c-page {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 100rpx);

  &__item:nth-child(n) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 100rpx);
  }
  &__item.hidden{
    display: none;
  }
}

.c-tabBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: calc(100rpx + env(safe-area-inset-bottom) / 2);
  min-height: 100rpx;
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
  z-index: 999;
  background: var(--bg-color-white);

  &__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .u-text {
      font-size: 22rpx;
      color: var(--tab-bar-text) !important;
    }

    .u-icon {
      width: 50rpx;
      height: 50rpx;
    }
  }

  &__item.active {
    .u-text {
      color: var(--base-color) !important;
    }
  }

  .c-tabBar__item:nth-child(1) {
    .u-icon {
      background: url(https://newgym.cn/color-note/variety.png) no-repeat center/cover;
    }
  }

  .c-tabBar__item:nth-child(2) {
    .u-icon {
      background: url(https://newgym.cn/color-note/note.png) no-repeat center/cover;
    }
  }

  .c-tabBar__item:nth-child(3) {
    .u-icon {
      background: url(https://newgym.cn/color-note/mine.png) no-repeat center/cover;
    }
  }

  .c-tabBar__item:nth-child(1).active {
    .u-icon {
      background: url(https://newgym.cn/color-note/variety_active.png) no-repeat center/cover;
    }
  }

  .c-tabBar__item:nth-child(2).active {
    .u-icon {
      background: url(https://newgym.cn/color-note/note_active.png) no-repeat center/cover;
    }
  }

  .c-tabBar__item:nth-child(3).active {
    .u-icon {
      background: url(https://newgym.cn/color-note/mine_active.png) no-repeat center/cover;
    }
  }
}