/* pages/variety/noteList.wxss */
.container{
  background: var(--bgColor);
}
.c-noteList {
  width: 100%;
  height: 100%;
  padding: 3% 3% 0;
  box-sizing: border-box;
  overflow: scroll;

  &__item:nth-child(odd){
    float: left;
  }
  &__item:nth-child(even){
    float: right;
  }
  &__item {
    position: relative;
    width: 48%;
    height: 300rpx;
    margin-bottom: 3%;
    background: #f5f3f2;

    .u-name{
      height: 260rpx;
      font-size: 36rpx;
      text-align: center;
      line-height: 260rpx;
    }
    .test{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 80rpx;
      .u-time{
        font-size: 32rpx;
      }
      .u-like{
        display: flex;
        align-items: center;
        column-gap: 10rpx;
      }
      .u-like::before{
        content: "";
        display: block;
        width: 32rpx;
        height: 32rpx;
        background: url(https://newgym.cn/color-note/like.png) no-repeat center/cover;
      }
      .u-like::after{
        content: attr(data-num);
        line-height: 32rpx;
        color: var(--base-color);
      }
    }
  }
}

.c-empty{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10rpx;
  position: absolute;
  top: calc(50vh - 128rpx);
  &__img{
    width: 256rpx;
    height: 256rpx;
    background: url(https://newgym.cn/color-note/empty.png) no-repeat center/cover;
  }
  &__text{
    color: var(--text-color-white);
  }
}