/* pages/variety/noteList.wxss */
.container{
  background:linear-gradient(135deg,#622774,#c53364);
}
.count{
  height: 100%;
  overflow-y: scroll;
  padding-bottom:2vw ;
}
.c-noteList {
  padding: 2vw 2vw 0;
  box-sizing: border-box;
  column-count: 2;
  column-gap: 4vw;
  &__item {
    page-break-inside: avoid;
    // -webkit-column-break-inside: avoid;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    row-gap: 10rpx;
    position: relative;
    width: 46vw;
    margin-bottom: 2vw;
    padding: 10rpx 0;
    background:var(--bgColor);
    color: var(--text-color-white);
    box-shadow: 0rpx 10rpx 15rpx -3rpx rgba(0,0,0,0.1);
    .u-img{
      width: 240rpx;
      height: 240rpx;
      background: url(https://newgym.cn/color-note/page.png) no-repeat center/cover;
    }
    .u-name{
      font-size: 36rpx;
      text-align: center;
    }
    .test{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 80rpx;
      .u-time{
        font-size: 32rpx;
      }
      .u-like{
        display: flex;
        align-items: center;
        column-gap: 10rpx;
      }
      .u-like::before{
        content: "";
        display: block;
        width: 32rpx;
        height: 32rpx;
        background: url(https://newgym.cn/color-note/like.png) no-repeat center/cover;
      }
      .u-like::after{
        content: attr(data-num);
        line-height: 32rpx;
        color: var(--base-color);
      }
    }
  }
}

.c-empty{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10rpx;
  position: absolute;
  top: calc(50vh - 128rpx);
  &__img{
    width: 256rpx;
    height: 256rpx;
    background: url(https://newgym.cn/color-note/empty.png) no-repeat center/cover;
  }
  &__text{
    color: var(--text-color-white);
  }
}