/* pages/variety/view.wxss */
.container {
  background: linear-gradient(180deg, #ffd3a5, #fd6585);
}

.c-write {
  display: grid;
  grid-template-rows: 1fr 1fr 16fr 1fr;
  grid-template-areas: 'head''secondHead'
    'editor'
    'operate';
  width: 702rpx;
  height: 80vh;
  padding: 30rpx;
  box-sizing: border-box;
  background: var(--bg-color-white);

  &__head {
    grid-area: head;
    display: flex;
    position: relative;

    .u-title {
      font-size: 42rpx;
    }

    .u-icon {
      position: absolute;
      right: 0px;
      width: 48rpx;
      height: 48rpx;
    }
  }

  &__secondHead {
    grid-area: secondHead;
    display: flex;
    align-items: center;
    column-gap: 10rpx;

    .u-time {
      height: 36rpx;
      line-height: 36rpx;
      font-size: 24rpx;
    }
  }

  &__editor {
    grid-area: editor;
    height: 100%;
  }

  &__operate {
    grid-area: operate;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .c-operate-item{
      display: flex;
      align-items: center;
      column-gap: 10rpx;
      .u-icon {
        width: 48rpx;
        height: 48rpx;
      }
      .u-text{
        font-size: 36rpx;
        color: var(--base-color);
      }
    }
    .c-operate-item:nth-child(1){
      .u-icon{
        background: url(https://newgym.cn/color-note/agree.png) no-repeat center/cover;
      }
    }
    .c-operate-item:nth-child(2){
      .u-icon{
        background: url(https://newgym.cn/color-note/like.png) no-repeat center/cover;
      }
    }
  }
}

.c-variety {
  position: absolute;
  left: 320rpx;
  top: 240rpx;
  width: 320rpx;
  max-height: 400rpx;
  overflow: scroll;
  padding: 0rpx 10rpx;
  &__item {
    height: 80rpx;
    padding: 10rpx;
    box-sizing: border-box;
    text-align: center;
    background: #f1f2f6;
    color: var(--color);
  }

  &__item+&__item {
    border-top: 1px solid #b2bec344;
  }

  &__item:nth-child(1) {
    border-top-left-radius: 16rpx;
    border-top-right-radius: 16rpx;
  }

  &__item:nth-last-child(1) {
    border-bottom-left-radius: 16rpx;
    border-bottom-right-radius: 16rpx;
    color: var(--base-color);
  }
}