/* pages/mine/feedback.wxss */
.container{
  background: linear-gradient(135deg,#8bdeda,#43add0,#998ee0,#e17dc2,#ef9393);
}
.u-ipt{
  width: 702rpx;
  height: 702rpx;
  padding: 16rpx;
  box-sizing: border-box;
  background: var(--bg-color-f9);
}
.u-btn{
  width: 702rpx;
  height: 80rpx;
  margin-top: 40rpx;
  background: var(--btn-bg-green);
  line-height: 80rpx;
  color: var(--text-color-white);
  text-align: center;
}