page {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: var(--bg-color);
}

.f-box-shadow {
  box-shadow: 0rpx 5rpx 15rpx -3rpx var(--shadow-color-gray);
}
.f-box-shadow-big{
  box-shadow: 0rpx 10rpx 15rpx -3rpx rgba(0,0,0,0.1);
}

.f-border-radius {
  border-radius: 8rpx;
}

.f-border-radius-big {
  border-radius: 16rpx;
}

.f-ellipsis {
  padding-right: 20rpx;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::-webkit-input-placeholder {
  color: var(--base-color-light);
}

input::-moz-placeholder {
  color: var(--base-color-light);
}

input:-ms-input-placeholder {
  color: var(--base-color-light);
}

input::-webkit-input-placeholder {
  color: var(--base-color-light);
}

input::placeholder {
  color: var(--base-color-light);
}