page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: linear-gradient(135deg, #ff75c3, #ffa647, #ffe83f, #9fff5b, #70e2ff, #cd93ff);
  overflow: hidden;
}

.tab-page{
  height: calc(100% - 100rpx);
}

.f-box-shadow {
  box-shadow: 0rpx 5rpx 15rpx -3rpx var(--gray);
}

.f-border-radius {
  border-radius: 8rpx;
}

.f-border-radius-big {
  border: radius 16rpx;
}

.f-ellipsis {
  padding-right: 20rpx;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn{
  margin: 40rpx 0;
}

.btn-confirm {
  color: var(--text-color-white);
  background: var(--btn-bg-green);
}

.btn-cancel {
  color: var(--text-color-white);
  background: var(--btn-bg-orange);
}

input::-webkit-input-placeholder {
  color: var(--base-color-light);
}

input::-moz-placeholder {
  color: var(--base-color-light);
}

input:-ms-input-placeholder {
  color: var(--base-color-light);
}

input::-webkit-input-placeholder {
  color: var(--base-color-light);
}

input::placeholder {
  color: var(--base-color-light);
}