page{
  --base: #b53471;
  --white: #fff;
  --grey: #f1f2f6;
  --gray: #a4b0be;
  --green: #2ecc71;
  --orange:#ff7f50;
  --pink: #ff6b81;
  --yellow: #ffbe76;
  --black: #2f3542;
  --blue: #12c2e9;
  --red: #f64f59;
  --purple: #c471ed;

  --variety1:#b68ed4;
  --variety2:#c88f23;
  --variety3:#b99192;
  --variety4:#b5c07b;
  --variety5:#dd8270;
  --variety6:#bccdbb;
  --variety7:#696969;
}