page{
  --base-color:#721b65;
  --base-color-light:rgba(114, 27, 101,0.5);
  --text-color-red:#b80d57;
  --text-color-orage:#f8615a;
  --text-color-yellow:#ffd868;
  --bg-color:#f1f1f1;
  --bg-color-white:#fff;
  --bg-color-white-alpah8:rgba(255,255,255,0.8);
  --bg-color-black:#535164;
  --font-color-drakgray:#a9a9a9;
  --shadow-color-gray:rgba(0,0,0,0.1);
  --border-color-whitesmoke:#f5f5f5;
  --head-bg-color:#808080;
  --input-bg-color:rgba(219, 136, 146,0.5);
  --input-bg-color-gray:#d4d4d4;
  --tab-bar-text:#393939;
  --text-color-white:#fff;

  --btn-bg-green:#3eb370;
  --btn-bg-orange:#ee7800;
  --btn-text-color:#fefefe;

  --variety-color-purple-dark:#aa5b71;
  --variety-color-purple:#b68ed4;
  --variety-color-pink:#f6416c;
  --variety-color-purple-light:#b99192;
  --variety-color-green:#b5c07b;
  --variety-color-red:#dd8270;
  --variety-color-yellow:#ff9b6a;
  --variety-color-gray:#696969;
}